
.Rightbar {
    height: 712px;
    width: 303px;
    position: fixed;
    top: 72px;
    right: 0;
    background-color:#121212;
    border-radius: 8px;
    display:flex;
    flex-direction: column;
    padding:4px 8px;
    color:#dcdcdc;
    font-weight: 600;
    font-size:14px;
    margin-bottom: 72px;
    align-items: center ;
    padding-top: 40px;
}

.Rightbar h1 {
    font-size: 1.5rem;
}